doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= "F-Isignature"
    body
        h1= `ENV: ${env}`

        if env == 'development'
            script(src=`${clientServer}/index.js`) 
        if env == 'production'
            script(src="/webroot/dist/index.js")